@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
#wrap{
    background: #F7F9FA;
}
a{
    text-decoration: none;
}
/* -------------------------원래 header메뉴 시작---------------- */
#header_box{
    width: 100%;
    padding: 5px 5%;
    display: inline-block;
    background: #CCD5E3;
    position: relative;
    box-shadow: 0 0 5px 0.1px #ccc;
}

#header_left{
    float: left;
}
#header_left img{
    max-width: 150px;
}

#header_menu{
    float: left;
    line-height: 2.5em;
    margin-left: 5%;
}
#header_menu a{
    margin-left: 50px;
    color: #000;
    transition: 0.3s;
}
#header_menu a:hover{
    color: #777;
}

#header_box>input{
    float: left;
    left: 23%;
    position: absolute;
    width: 50%;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    display: none;
}
#header_box>input.on{
    display: block;
}
#header_box>a{
    float: left;
    position: absolute;
    left: 75%;
    font-size: 1.5em;
    margin-top: 7px;
    color: #555;
    transition: 0.3s;
}
#header_box>a:hover{
    color: #E3FDF7;
}

#header_right{
    float: right;
    padding-top: 8px;
}
#header_right a{
    font-size: 0.9em;
    font-weight: 600;
    color: #000;
    padding: 5px 2px;
    border-bottom: 2px solid #CCD5E3;
    margin-right: 20px;
    transition: 0.3s;
}
#header_right a:nth-child(2){
    margin-right: 0;
}
#header_right a:hover{
    color: #777;
    border-bottom: 2px solid #E3FDF7;
}

/* ------------------------900px때 메뉴------------------- */

#header_box2{
    width: 100%;
    padding: 10px 5%;
    display: none;
    background: #CCD5E3;
    position: relative;
    box-shadow: 0 0 5px 0.1px #ccc;
}
#header2_left{
    float: left;
}
#header2_left a:nth-child(1){
    font-size: 2em;
    color: #000;
    transition: 0.3s;
    display: inline-block;
}
#header2_left a:nth-child(1).on{
    display: none;
}
#header2_left a:nth-child(2){
    font-size: 2em;
    color: #000;
    transition: 0.3s;
    display: none;
}
#header2_left a:nth-child(2).on{
    display: inline-block;
}
#header2_left a:hover{
    color: #E3FDF7;
}
#header2_logo{
    max-width: 150px;
}
#header_box2>a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#header2_right{
    float: right;
    padding-top: 10px;
}
#header2_right a{
    font-size: 1em;
    font-weight: 600;
    margin-right: 10px;
    padding-bottom: 5px;
    color: #000;
    transition: 0.3s;
    border-bottom: 2px solid #CCD5E3;
}
#header2_right a:hover{
    border-bottom: 2px solid #E3FDF7;
    color: #777;
}
#header2_right a:last-child{
    margin-right: 0;
}

/* ------------------------좌측메뉴 시작----------------------- */

nav{
    position: fixed;
    left: 0;
    top: 55px;
    width: 100%;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    z-index: 99999;
}
nav.on{
    height: 100%;
}
#header2_menu{
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #eee;
}
#header2_menu input{
    float: left;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#header2_searchbtn{
    padding: 7px 0 0 4%;
    display: inline-block;
}
#header2_menu .fas{
    display: block;
    font-size: 1.7em;
}
#header2_menu a{
    color: #000;
    transition: 0.3s;
}
#header2_menu a:hover{
    color: #CCD5E3;
}
.header2_menu_a{
    display: block;
    clear: both;
    font-size: 1.2em;
    font-weight: 600;
    padding: 40px;
    border-bottom: 1px solid #ccc;
}
#header2_menu a:last-child{
    border: none;
}

/* -------------------------------section 시작-------------------------- */
section{
    width: 80%;
    margin: -5px auto;
}

/* -------------------------------slider 시작--------------------------- */

#sliderbox{
    width: 100%;
    position: relative;
}
#sliderbox img{
    width: 100%;
    position: relative;
    display: none;
    z-index: 9;
}
#sliderbox img.on{
    display: block;
}
#slider_left{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1.6em;
    background: rgba(247,249,250,0.7);
    color: #777;
    z-index: 999;
    transition: 0.3s;
    display: none;
}
#slider_left:hover{
    background: rgba(247,249,250,1);
}
#slider_right{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1.6em;
    background: rgba(247,249,250,0.7);
    color: #777;
    z-index: 999;
    transition: 0.3s;
    display: none;
}
#slider_right:hover{
    background: rgba(247,249,250,1);
}
#slider_roundbox{
    display: block;
    padding-left: 50%;
}
#slider_roundbox a{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    margin-right: 1%;
    transform: translateX(-50%);
    transition: 0.3s;
}
#slider_roundbox a.on{
    background: #E3E7FD;
}
#slider_roudbox a:last-child{
    margin-right: 0;
}

/* --------------------------------article 시작------------------------ */

article{
    margin: 50px auto;
    width: 100%;
}
#contbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article h1{
    margin: 20px 0;
    font-size: 2em;
}

/* ------------------------------------big_pic 시작------------------------ */

.big_picbox{
    width: 100%;
    position: relative;
}
.picbox{
    transform: translateY(10%);
    opacity: 0;
    transition: 0.5s;
}
.picbox.on{
    transform: translateY(0);
    opacity: 1;
}
.imgbox{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.big_picbox img{
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}
.big_picbox .choose{
    position: absolute;
    top: 10%;
    left: 5%;
}
.big_picbox .choose a{
    margin-right: 20px;
    font-size: 1.2em;
    color: #E3FDF7;
    transition: 0.3s;
}
.big_picbox .choose a:hover{
    color: #CCD5E3;
    text-decoration: underline;
}

.small_pic{
    width: 24.5%;
    position: relative;
}
.small_pic img{
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}
.small_pic .choose{
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 5%;
}
.small_pic .choose a{
    margin-right: 5px;
    font-size: 1.1em;
    color: #E3FDF7;
    transition: 0.3s;
}
.small_pic .choose a:hover{
    color: #CCD5E3;
    text-decoration: underline;
}

/* ---------------------------------aside 시작--------------------------- */

aside{
    position: fixed;
    top: 80%;
    right: 4%;
}
#gotop{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    background: #CCD5E3;
    box-shadow: 0 0 3px 0.1px #999;
    transition: 0.3s;
}
#gotop.on{
    background: #E3FDF7;
}
#gotop a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: 600;
    color: #777;
    background: #E3FDF7;
    transition: 0.3s;
}
#gotop a.on{
    background: #CCD5E3;
    color: #E3FDF7;
}

/* ------------------------------address 시작------------------------- */

footer{
    width: 100%;
    background: #CCD5E3;
    padding: 2% 20% 2% 20%;
}
#footercontbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footercont{
    width: 25%;
    text-align: center;
}
.footercont h1{
    font-size: 0.85em;
}
.footercont a{
    display: block;
    font-size: 0.75em;
    padding: 10px 0;
    color: #555;
    transition: 0.3s;
}
.footercont a:hover{
    color: #000;
}

address{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
#address1{
    font-style: normal;
    font-size: 0.8em;
}
.address2{
    margin-top: 20px;
}
.address2 a{
    font-style: normal;
    font-size: 0.8em;
    color: #555;
    transition: 0.3s;
    padding: 0 3%;
    border-right: 1px solid #777;
}
.address2 a:first-child{
    padding-left: 0;
}
.address2 a:hover{
    color: #000;
}

/* ---------------------------@media 시작------------------------- */
@media(max-width: 1070px){
    .small_pic{
        width: 49.5%;
    }
    .small_pic img{
        width: 100%;
    }
}

@media(max-width: 900px){
    #header_box{
        display: none;
    }
    #header_box2{
        display: inline-block;
    }
    section{
        width: 100%;
    }
}
@media(max-width: 735px){
    .small_pic{
        width: 100%;
    }
    .small_pic img{
        width: 100%;
    }
}
@media(max-width: 500px){
    header{
        width: 500px;
    }
    nav{
        width: 500px;
    }
    #header2_searchbtn{
        padding: 7px 0 0 2%;
    }
    section{
        width: 500px;
    }
    footer{
        width: 500px;
        padding: 1%;
    }
}